Flask==0.10.1
Flask-Script==0.6.7
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
argparse==1.2.1
beautifulsoup4==4.3.2
gunicorn==18.0
itsdangerous==0.23
wsgiref==0.1.2
Flask-SQLAlchemy==1.0
SQLAlchemy==0.9.7
SQLAlchemy-Utils==0.26.9
