        table {
            width: 100%;
        }

        thead, tfoot, tbody, tr, td, th { display: block; }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th tr td {
            height: 28px;

            /*text-align: left;*/
        }

        tbody {
            height: 360px;
            overflow-y: auto;
            
        }

        thead, tfoot {
            /* fallback */
        }

        tbody td, thead th, tfoot td{
            width: 9%;
            float: left;
        }