<!DOCTYPE html>
<html ng-app="roto">
<head>
    <title>NBA Keeper Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
   
	
</head>
<body >

<div class="container"> 
		<ul class="nav nav-pills">
			<li><a href="#">Home</a></li>
			<li><a href="#">Sign up</a></li>
			<li><a href="#">Draft Tool</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	

    {% block content %}
 
    {% endblock %}
	
	
</div>
	 <script src="{{ url_for('static', filename='js/angular.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" ></script>
	
</body>
</html>