{% extends 'layout.html' %}
{% block content %}


	<div class="row">
		<h1>Welcome!</h1>
		<p>Enter your email below to be notified on this project!</p>
		<input type="email" placeholder="Your email" />
		<input type="submit" />
	</div>

<br/>
<br/>

<div class="row" ng-controller="PlayerController as roto">
<div class="panel panel-default">
	<div class ="panel-haeding">Player List</div>
	<div class="panel-body">
		<p> Select players from the following list to add to your team. You may scroll or use the search feature </p>
	<div class="bar">
		<!-- Create a binding between the searchString model and the text field -->
		<input type="text" ng-model="searchString" placeholder="Locate by Name" />
	</div>
</div>
	</div>
	<table class="table table-striped" >
			<thead class="info">
				<th>RANK</th>
				<th>NAME</th>
				<th>AUCTION</th>
				<th>EVILRANK</th>
				<th>ADD</th>
		</thead>
		<tbody>
		<tr ng-repeat="player in roto.players | searchFor:searchString">
		<td>[[ player.rank ]]</td>
		<td>[[ player.name ]]</td>
		<td>$[[ player.price ]]</td>
		<td>[[ player.evilrank ]]</td>
		<td>
			<button type="submit" class="btn-small glyphicon glyphicon-plus" ng-click="addPlayer(player, roto.myTeam, roto.players)">			
			</button>
		</td>
		</tr>

		</tbody>
	</table>
	
	<table class="table table-striped" >
			<thead class="info">
				<th>RANK</th>
				<th>NAME</th>
				<th>AUCTION</th>
				<th>EVILRANK</th>
				<th>ADD</th>
		</thead>
		<tbody>
		<tr ng-repeat="p in roto.myTeam">
		<td>[[ p.rank ]]</td>
		<td>[[ p.name ]]</td>
		<td>$[[ p.price ]]</td>
		<td>[[ p.evilrank ]]</td>
		<td>
			<button type="submit" class="btn-small glyphicon glyphicon-minus" 
					ng-click="removePlayer(p, roto.myTeam)">			
			</button>
		</td>
		</tr>

		</tbody>
	</table>

{% endblock %}